*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: black;
  background-size: cover;
  background-position: center;
}

.entire-c{
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main-container{
  background-color: rgba(245, 245, 245, 0.96);
  border-radius: 12px;
  display: flex;
  padding: 50px;
  justify-content: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.d-c{
  width: 90px;
  margin-right: 30px;
  padding: 10px;
}

.d-c span{
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-top: 4px;
  text-transform: lowercase;
}

h1{
  color: white;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

p{
  font-size: 66px;
  font-weight: 500;
  color: #222;
}

#particles-js{
  position: absolute;
  height: 99%;
  width: 97%;
}

.nameC{
  position: relative;
  width: 100%;
  font-size: 36px;
}

.nameC #nameH{
  color: rgba(255, 255, 255, 0.95);
  font-weight: 400;
  margin-bottom: 16px;
}

.p-c{
  height: 50px;
}

#bDayBtn{
  border: none;
  outline: none;
  color: white;
  background-color: rgb(173, 4, 4);
  margin: 20px;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.15s ease;
}

#bDayBtn:hover{
  background-color: rgb(195, 15, 15);
}

#bDayBtn:active{
  background-color: rgb(150, 3, 3);
  transform: scale(0.98);
}

.copyright{
  text-decoration: none;
  margin-top: 10%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}


@media(max-width:900px){

  .d-c{
    margin-right: 10px;
    padding:5px;
  }

  p{
    font-size: 50px;
  }

}

@media(max-width:600px) {
  .d-c{
    margin-right:1px;
    padding:1px;
    width: 60px;
  }
   
  .days-c{
    padding-right: 10px;
  }

  .hours-c{
    padding-left: 10px;
  }

  .nameC{
    font-size: 30px;
  }

  p{
    font-size: 45px;
  }

}


@media(max-width:361px){
  .d-c{
    width: 50px;
  }
  #nameH{
    font-size: 16px;
    
  }
  p{font-size: 29px;}

  .hours-c{
    padding-left: 20px;
  }
}